@model SmartHome.Models.Scenario
@{
    ViewData["Title"] = "AddScenario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddScenario</h1>

@using (Html.BeginForm())
{
<form class="text-center border border-light p-5" action="#!">

    @Html.EditorFor(model => model.TimeOfEvent, new { htmlAttributes = new { @class = "form-control mb-4", @type = "datetime-local", @placeholder = "Room name..." } })
    @Html.ValidationMessageFor(model => model.TimeOfEvent)

    @Html.EditorFor(model => model.EventURL, new { htmlAttributes = new { @class = "form-control mb-4", @type = "text", @placeholder = "Event URL..." } })
    @Html.ValidationMessageFor(model => model.EventURL)

    @Html.EditorFor(model => model.DeviceId, new { htmlAttributes = new { @class = "form-control mb-4", @type = "number", @placeholder = "Device ID..." } })
    @Html.ValidationMessageFor(model => model.DeviceId)

    <div>
        <input type="submit" value="Add" class="btn btn-primary" />
    </div>

</form>
}